<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/lib/jquery-1.10.2.min.js"></script>
    <!-- Importing Blockly -->
    <script src="static/lib/blockly/blockly_compressed.js"></script>
    <script src="static/lib/blockly/blocks_compressed.js"></script>
    <script src="static/lib/blockly/python_compressed.js"></script>
    <script src="static/lib/blockly/msg/en.js"></script>
    <link rel="icon" href="static/Linux.ico">
    <link rel="stylesheet" href="static/styles.css">
    <!--TODO: localize!-->
    <script src="static/lib/codemirror/lib/codemirror.js"></script>
    <script src="static/lib/codemirror/addon/runmode/runmode.js"></script>
    <link rel="stylesheet" href="static/lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="static/lib/codemirror/theme/material-darker.css">
    <script src="static/lib/codemirror/mode/python/python.js"></script>
    <title>EWRWC</title>
</head>
<body onunload="connection.close();">
    <h1>Educatinonal Wheeled Robot With Camera</h1>
    <table class="main">
    <tr>
    <td class="main"></td>
    <td class="main" style="height: 40px; text-align: right">
        <button style="height: 40px;" onclick="change_editor(this);">Python editor</button>
    </td>
    </tr>
    <tr>
    <td class="main">
        <div style="text-align: center">
            <input type="range" id="left" min="-255" max="255" value="0" orient="vertical"
               oninput="sendslid(connection, 'left', 'right');"
               onchange="this.value=0; sendslid(connection, 'left', 'right');">
            <img id="camera_feed" src={{ video }}>
            <input type="range" id="right" min="-255" max="255" value="0" orient="vertical"
                   oninput="sendslid(connection, 'left', 'right');"
                   onchange="this.value=0; sendslid(connection, 'left', 'right');">
        </div>

        <div style="text-align: center">Motors: <span id="left_m">0</span>, <span id="right_m">0</span></div>
        <hr>
        <table style="text-align: left; width: 100%">
        <tr>
        <td>
            <div>Line detection: <input type="checkbox" id="linechange" oninput="linechange(connection, this)"></div>
            <div>Deviation: <span id="deviation">0</span></div>
        </td>
        <td>
            <div>Color detection: <input type="checkbox" id="colorschange" oninput="colorschange(connection, this)"></div>
            <div>Verdict [color, size]: <span id="verdict">[0, 0]</span></div>
        </td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr>
        <td>
            <div>Battery: </div>
            <div>Voltage = <span id="voltage">0</span> mV</div>
            <div>Current = <span id="current">0</span> mA</div>
            <div>Charging status = <span id="ch_stat">0</span></div>
        </td>
        <td>
            <div>VL53L0X: </div>
            <div>Distance = <span id="distance">0</span> mm</div>
        </td>
        </tr>
        </table>
        <hr>

        <div>Python code: </div>
        <pre style="margin-left: 10px"><code id="python-show" class="cm-s-material-darker"></code></pre>
    </td>

    <td class="main" id="container">
        <textarea id="python-in" style="position: absolute"></textarea>
        <div id="blocklyDiv" style="position: absolute"></div>
        <iframe id="pythonDiv" style="position: absolute; display: none"></iframe>
    </td>
    </tr>
    </table>

    <script src="static/scripts.js"></script>
    <script src="static/scripts_blockly.js"></script>
    <script src="static/python_editor.js"></script>

</body>
</html>
